.onboardingContainer {
  padding: 6%;
  padding-top: 60px;
  background-color: #c9c9c9;
  color: black;
}

.onboardingTitle {
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.step {
  margin-bottom: 15px;
  padding: 10px;
}

.stepTitle {
  font-weight: bold;
}

.stepDescription {
  margin-top: 5px;
}

.description {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
  color: black;
  font-weight: 400;
}