@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body-login {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
  background: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.404); */
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.logo {
  width: 60px; /* Adjust as needed */
  height: 60px; /* Adjust as needed */
  margin-right: 10px; /* Adjust as needed */
}

.wrapper h1 {
  font-size: 50px;
  text-align: center;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(233, 225, 225, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
}

input:-webkit-autofill ~ .icon {
  color: #000 !important;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 4px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.wrapper button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 20px;
  color: #333;
  font-weight: 700;
}

.wrapper button:hover {
  background-color: rgb(56, 128, 221);
  color: white;
}
.oauth-link {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

.oauth-button {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  padding: 7px;
  padding-left: 15px;
  gap: 100px !important;
  display: inline-block;
  width: 140px !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  margin-right: 10px;
  margin-left: 10px;
}

.google-icon {
  margin-right: 8px;
  font-size: 30px;
}
.github-icon {
  margin-right: 8px;
  font-size: 30px;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
  color: rgb(56, 128, 221)
}

.message {
  text-align: center;
  margin-top: 5px;
  width: 100%;
  margin-bottom: -15px;
}