.container {
  border-radius: 8px;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0.5em 1em;
  font-size: 0.9em;
  border-bottom: 1px solid #eaeaea;
  border-radius: 10px 10px 0px 0px;
}

.codeArea {
  padding: 1em;
  background-color: #fff;
  overflow-x: auto;
  border-radius: 0px 0px 10px 10px;
}

.copyButton {
  padding: 8px 16px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.2s ease;
}

.copyButton:hover {
  background-color: #357abd;
}