.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.7) !important;
  padding: 0px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it appears above other content */
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  flex-wrap: nowrap;
  overflow: hidden;
}

.logo {
  flex-shrink: 0;
  margin-right: 20px;
}

.logo img {
  height: 40px; /* Adjust size as needed */
  max-width: 160px; /* Adjust the maximum width as needed */
  width: auto; /* Ensure the aspect ratio is maintained */
  max-height: 40px; /* Ensure the logo doesn't exceed the specified height */
}

.links {
  display: flex;
  gap: 20px;
  margin-right: 15px;
  white-space: nowrap;
}

.links a {
  color: #333333;
  text-decoration: none;
  font-weight: bold;
  flex-shrink: 0;
}

.links a:hover {
  color: #0070f3; /* Example link hover color */
}

.logoutButton {
  background: none;
  border: none;
  color: #333333;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  font: inherit;
  font-weight: bold;
  flex-shrink: 0;
}

.logoutButton:hover {
  color: #0056b3;
}

/* Adjust styles for mobile or smaller screens */
@media (max-width: 768px) {
  .nav {
    flex-direction: row; /* Ensure items stay in a row */
    justify-content: space-between; /* Distribute space evenly */
    align-items: center; /* Center align items vertically */
  }

  .logo {
    margin-bottom: 0px;
  }

  .links {
    gap: 10px;
  }
}
