/* global.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background-color: hsl(240, 7%, 8%);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

* {
  box-sizing: border-box;
}

body.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

body.loaded {
  display: block;
}

