body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background-color: #131316;
}

* {
  box-sizing: border-box;
}

/* h2 {
  font-family: var(--font-roboto-mono);
} */

/* .topNav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
} */

