@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
  background-color: #131316;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  margin: 0;
  height: 100%;
}

.navbar-gap {
    width: 100%;
    height: 50px;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;

}

.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  } 
}


.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

