@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:global .your-page-class * {
  margin: 0;
  padding: 0;
}

.navbar-gap {
  width: 100%;
  height: 50px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #131316;
  color: #ffffff;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 70px;
  color: #fff;
  margin: 0;
}

p {
  font-size: 35px;
  color: #407cff;
  font-weight: 600;
}

section .animate {
  opacity: 0;
  filter: blur(5px);
  transition: .75s;
}

section.show-animate .animate {
  opacity: 1;
  filter: blur(0px);
}

.sec-1 .animate {
  margin-top: -30px;
  opacity: 0;
}

.sec-1.show-animate .animate {
  opacity: 1;
}

.sec-2 .animate {
  transform: translateX(1000%);
}

.sec-2.show-animate .animate {
  transform: translateX(0);
}

.sec-3 .animate {
  transform: translateX(-1000%);
}

.sec-3.show-animate .animate {
  transform: translateX(0);
}

.sec-4 .animate {
  transform: scale(0);
}

.sec-4.show-animate .animate {
  transform: scale(1);
}

.sec-5 .images img {
  max-width: 250px;
  margin: 10px;
  border-radius: 30px;
  transform: translateX(-1000%);
  transition-delay: calc(.2s * var(--i));
  gap: 20px;
}

.sec-5.show-animate .images img {
  transform: translateX(0);
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.image-container {
  position: relative;
  display: inline-block;
}

.info-box {
  visibility: hidden;
  width: 500px; /* Allow the box to resize up to a maximum width */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 12px;
  position: absolute;
  z-index: 1;
  bottom: 90%; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  word-wrap: break-word; /* Ensure long words are wrapped */
  white-space: pre-wrap; /* Preserve whitespace */
  box-sizing: border-box;
}

.info-box::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.image-container:hover .info-box {
  visibility: visible;
  opacity: 1;
}



