@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:global .your-page-class * {
  margin: 0;
  padding: 0;
}

.navbar-gap {
  width: 100%;
  height: 50px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #131316;
  color: #ffffff;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 90px;
  color: #fff;
}

p {
  margin-top: -90px;
  font-size: 35px;
  color: #0ef;
  font-weight: 600;
}

section .animate {
  opacity: 0;
  filter: blur(5px);
  transition: .75s;
}

section.show-animate .animate {
  opacity: 1;
  filter: blur(0px)
}

.sec-1 .animate {
  opacity: 0;
}

.sec-1.show-animate .animate {
  opacity: 1;
}

.sec-2 .animate {
  transform: translateX(1000%);
}

.sec-2.show-animate .animate {
  transform: translateX(0);
}

.sec-3 .animate {
  transform: translateX(-1000%);
}

.sec-3.show-animate .animate {
  transform: translateX(0);
}

.sec-4 .animate {
  transform: scale(0);
}

.sec-4.show-animate .animate {
  transform: scale(1);
}

.sec-5 .images img{
  max-width: 250px;
  margin: 0;
  transform: translateX(-1000%);
  transition-delay: calc(.2s * var())
}

.sec-5.show-animate .images img{
  transform: translateX(0);
}


