/* body{
  background-color: grey;
} */

.dashboardContainer {
  display: flex;
  height: 100vh;
  /* overflow: hidden; */
  background-color: #e7e7e7;
}

.sidebar {
  position: fixed;
  top: 70px; /* Adjust this value to match the height of your top nav */
  left: 0;
  bottom: 0;
  width: 15%;
  background-color: #143A52;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}
.top-section{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-left: -10px;
  border: 3px solid yellow;
}
.sidebarTop{
  margin-left: -20px;
  text-decoration: none;
}

.bottom-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  border: 3px solid red;
}

.sidebarBottom{
  display: flex;
  flex-direction: row;
  margin-left: -20px;
}

.sidebarLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 10px 0;
}

.link {
  color: #e7e7e7;
  text-decoration: none;
}

.sidebarListItems {
  color: #e7e7e7;
  display: block;
  font-size: 20px;
  text-decoration: none;

}

.sidebarListIcons {
  color: #e7e7e7;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 2px;
  font-size: 25px;
}

.mainContent {
  margin-left: 15%; /* Add this to account for the fixed sidebar */
  padding-top: 60px; /* Add padding to account for the top nav */
  width: 85%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto; /* Allow scrolling for the main content */
  /* height: calc(100vh - 60px); Subtract the height of the top nav */
}

.apiContainer {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 10px;
  padding-top: 80px;
  width: 97.5%;
}

#apiTitle {
  margin-right: 10px;
}

.apiCodeInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.copyButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.copyButton:hover {
  background-color: #0056b3;
}

.copySuccess {
  margin-left: 10px;
  color: green;
  font-size: 14px;
}

.chartContainer {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.chartTitle {
  margin: 0 0 5px 0; /* Add bottom margin to space title from the chart */
}

.chart {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.buildCharts {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.buildCharts > *:not(:last-child) {
  margin-right: 15px;
}

.bundleLogContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bundleToggleBox {
  background-color: #ffffff;
  width: 100%;
}

.bundleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c9c9c9;
  padding: 0.5em 1em;
  font-size: 0.9em;
  border-bottom: 1px solid #eaeaea;
  border-radius: 10px 10px 0px 0px;
}

.bundleLogContent {
  padding: 1em;
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
}

.toggleButton {
  font-size: 1.1rem;
  background-color: #c9c9c9;
  border: none;
  color: #143A52;
}

.toggleButton:disabled {
  background-color: #c9c9c9;
  color: #a1a1a1;
  cursor: not-allowed;
}

.bundleLog {
  padding: 0 15px;
  background-color: #e9e9e9;
  overflow-x: auto;
  border-radius: 0px 0px 10px 10px ;
}

.downloadButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.downloadButton:hover {
  background-color: #0056b3;
}