.dashboardContainer {
  display: flex;
  height: 100vh;
  /* overflow: hidden; */
  background-color: #e7e7e7;
}

.sidebar {
  position: fixed;
  top: 70px; /* Adjust this value to match the height of your top nav */
  left: 0;
  bottom: 0;
  width: 15%;
  background-color: #143A52;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  text-decoration: none;
}

.top-section{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  margin-left: -10px;
  /* border: 3px solid yellow; */
}

.sidebarTop{
  margin-left: -20px;
  text-decoration: none;
}

.bottom-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  /* border: 3px solid red; */
}

.sidebarBottom{
  display: flex;
  flex-direction: row;
  margin-left: -20px;
}

.sidebarLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 10px 0;
  overflow: hidden; /* Prevent content from bleeding out */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

.link {
  color: #e7e7e7;
  text-decoration: none;
  overflow: hidden; /* Prevent content from bleeding out */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

.sidebarListItems {
  color: #e7e7e7;
  display: block;
  font-size: 20px;
  text-decoration: none;
  overflow: hidden; /* Prevent content from bleeding out */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

.sidebarListIcons {
  color: #e7e7e7;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 2px;
  font-size: 25px;
  overflow: hidden; /* Prevent content from bleeding out */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

.mainContent {
  margin-left: 15%; /* Add this to account for the fixed sidebar */
  padding-top: 60px; /* Add padding to account for the top nav */
  width: 85%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto; /* Allow scrolling for the main content */
  /* height: calc(100vh - 60px); Subtract the height of the top nav */
}

.apiContainer {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 10px;
  padding-top: 80px;
  width: 97.5%;
}

#apiTitle {
  margin-right: 10px;
}

.apiCodeInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.copyButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.copyButton:hover {
  background-color: #0056b3;
  transform: translateY(2px);
}

.copySuccess {
  margin-left: 10px;
  color: green;
  font-size: 14px;
}

.chartContainer {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  justify-content: flex-start;
  align-items: stretch; 
  width: 98%;
  height: auto;
  box-sizing: border-box;
}

.chartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;

}

.chartTitle {
  margin: 0 0 5px 0; /* Add bottom margin to space title from the chart */
  flex-shrink: 0; /* Prevent title from shrinking */
}

.webVitalsChartContainer {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;

}

.webVitalsChart {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 80%;
  min-width: 300px;
  box-sizing: border-box;
}


.buildCharts {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  width: 100%;
  height: auto; /* Allow the container to adjust its height based on its content */
  align-items: stretch; /* Ensures all children stretch to fill the container vertically */
  overflow: hidden; /* Prevents children from overflowing */
}

.buildTimeDiv {
  width: 50%;
  height: auto;
}
.buildTimeChart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-width: 300px; /* Minimum width to prevent them from getting too small */
  box-sizing: border-box;
  overflow: hidden; /* Additional overflow handling within the chart area */
}

.bundleLogContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  min-width: 300px; /* Minimum width to prevent them from getting too small */
  box-sizing: border-box;
  overflow: hidden; /* Prevent content from bleeding out */
}

.bundleLogTitle {
  align-self: center;
}
.bundleToggleBox {
  background-color: #ffffff;
  width: 100%;
}

.bundleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c9c9c9;
  padding: 0.5em 1em;
  font-size: 0.9em;
  border-bottom: 1px solid #eaeaea;
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
}

.bundleLogTitle {
  margin: 2px;
}

.bundleLogContent {
  padding: 1em;
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  flex: 1; /* Allow the chart to grow and take up remaining space */
  overflow: auto; /* Add overflow auto to handle any content overflow */
  box-sizing: border-box;
}

.toggleButton {
  font-size: 1.1rem;
  background-color: #c9c9c9;
  border: none;
  color: #143A52;
}

.toggleButton:disabled {
  background-color: #c9c9c9;
  color: #a1a1a1;
  cursor: not-allowed;
}

.bundleLog {
  display: flex;
  padding: 0 15px;
  background-color: #e9e9e9;
  overflow-x: auto;
  border-radius: 0px 0px 10px 10px ;
}

.downloadButton {
  padding: 5px 10px;
  margin: 3px;
  margin-top: 25px;
  background-color: #ffffff; /* Set background to white */
  color: #7e7e7e; /* Set text color to grey */
  border: 1px solid #7e7e7e; /* Set border color to grey */
  border-radius: 5px;
  cursor: pointer;
  width: 82px;
  display: flex;
  justify-content: flex-start;
  font-family: 'Poppins', sans-serif;
}

.downloadButton:hover {
  background-color: #007bff; /* Set background color to blue on hover */
  color: white; /* Set text color to white on hover */
  border: 1px solid #007bff; /* Set border color to blue on hover */
  transform: translateY(2px);
}

.webVitalsFilter {
  display: flex;
  flex-direction: row;
}

.dateFilter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
  padding: 0 10px;
}

.filterDateSubmit {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.filterDateSubmit:hover {
  background-color: #4b8acf;
  transform: translateY(2px);
}

.clsAndRatings {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.clsContainer {
  display: flex;
  flex-direction: column;
  flex:1;
}

.ratingsContainerDiv {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.ratingsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 350px;
  margin-left: 10px;
}

.ratingGauge {
  width: 175px;
  height: 150px;
}

.ratingDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ratingHeading {
  align-self: center;
  margin: 0;
  padding: 0;
  font-size: 15px;
}